.inputs {
  display: flex;
  flex-direction: column;
  width: 55%;
  margin-left: 7.9em;
  height: 370px;
  justify-content: space-between;
}

.create-container {
  display: flex;
}

#sell-title {
  width: 95%;
  height: 45px;
  border: none;
  background-color: #f1f1f1;
  border-radius: 15px;
  padding-left: 0.9em;
}

#sell-title::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 750;
  font-size: small;
}

#sell-category {
  width: 97%;
  height: 45px;
  border: none;
  background-color: #f1f1f1;
  border-radius: 15px;
  padding-left: 0.7em;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 750;
  font-size: small;

}

select {
  padding: 8px;
}

select:hover {
  background-color: rgb(207, 66, 207);

}


#sell-category option {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 750;
  font-size: small;
}

#sell-description {
  width: 95%;
  height: 85px;
  border: none;
  background-color: #f1f1f1;
  border-radius: 15px;
  padding-left: 0.7em;
  font-family: Arial, Helvetica, sans-serif;
}

#sell-description::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 750;
  font-size: small;
  position: relative;
  top: 10%;
}

#sell_price {
  width: 40%;
  height: 45px;
  border: none;
  background-color: #f1f1f1;
  border-radius: 15px;
  padding-left: 0.7em;
}

#sell_price::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 750;
  font-size: small;
}


input::placeholder,
textarea::placeholder {
  color: black;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.create-upload {
  height: 150px;
  background-color: blue;
}

.product-upload-photo {
  height: 240px;
  background-color: #f1f1f1;
  margin-left: 100px;
  width: 23%;
  border-radius: 40px;
  overflow: hidden;
}



.product-upload-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.product-upload-photo input {

  cursor: pointer;
}

#sell_save-button {
  width: 20%;
  height: 33px;
  border-radius: 30px;
  background-color: #292929;
  color: white;
  border: none;
  cursor: pointer;
}

#sell_save-button:hover {
  background-color: #111010;
}


.uploadImagePara {
  position: absolute;
  bottom: 17%;
  right: 10.5%;

}